body {
    background-color: #f0f7ff; /* Azul claro */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #4169e1; /* Azul real */
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #dddddd; /* Línea gris */
    margin: 20px auto;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

article {
    background-color: #ffffff; /* Blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 5px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

aside {
    text-align: center;
    margin-top: 20px;
}

aside input[type="submit"] {
    background-color: #4169e1; /* Azul real */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

aside input[type="submit"]:hover {
    background-color: #1e90ff; /* Azul acero */
}
